#content{
  width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

#top {
  margin-top: 30px;
  width: 100%;
  min-height: 1px;
  max-height: 200px;
}

#top_left {
  width: 15%;
  min-height: 1px;
  max-height: 100%;
  float: left;
}

#top_middle {
  width: 70%;
  min-height: 1px;
  max-height: 100%;
  float: left;
}

#top_right {
  width: 15%;
  min-height: 1px;
  max-height: 100%;
  float: left;
}

#footer {
  margin-top: 300px;
  width: 100%;
  height: 200px;
  float: left;
}

#mid {
    width: 100%;
    max-height: 1500px;
    float: left;
}

#mid_left {
  width: 15%;
  min-height: 1px;
  height: 100%;
  float: left;
}

#middle {
  width: 70%;
  height: 100%;
  float: left;
}

#mid_right {
  min-height: 1px;
  width: 15%;
  height: 100%;
  float: left;
}
#footer {
  width: 100%;
  height: 100px;
  float: left;
}
#footer_left {
  width: 15%;
  height: 100%;
  float: left;
}
#footer_right {
  width: 15%;
  height: 100%;
  float: left;
}
#footer_middle {
  width: 70%;
  height: 100%;
  float: left;
  font-size: xx-small;
}

* {box-sizing:border-box}

table, th, tr, td{
  border: solid 1px grey;
  padding: 8px;
  border-collapse: collapse;
  text-align: center;
}
td{
  width: 100px;
}

/* -----------------login---------------------- */

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #c00000;
}
.login-form-1 .ForgetPwd{
    color: #c00000;
    font-weight: 600;
    text-decoration: none;
}

/* -----------------login---------------------- */

/* news feed */
ul.timeline {
  list-style-type: none;
 position: relative;
  float: left;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #c00000;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* unvisited link */
a:link, a:visited, a:hover, a:active {
  color: #c00000;
}



.cta-100 {
  margin-top: 100px;
  padding-left: 8%;
  padding-top: 7%;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #a10f0f !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}
/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #1e3a61;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: red;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #c00000;
}
